/**common*/
body{ margin:0px; padding:0px;}

/**bottom*/
#bottom{ margin-top:60px; padding:0px;}
#bottom dt{ font-size:18px;}
#bottom dd a{ color: #000000; text-decoration:none;}

/**register login*/
.common_frame{ margin:120px auto; padding:0px; border:1px solid #CCCCCC; border-radius: 5px; text-align:center; min-height:540px; width:455px; background:#FFFFFF; z-index:2px;}
.common_frame h3{ width:100%; margin-top:40px; padding:0px; text-align:center;}
.common_frame h4{ width:100%; margin:10px auto; padding:0px; text-align:center;}
.common_item{ margin:10px auto; width:80%; padding:0px; font-size:14px;}

/**index*/
.navbar{ margin:0px; padding:0px;}
#slidershow{ margin:0px; padding:0px; height:560px;}
#slidershow item{ margin:0px; padding:0px;  height:560px;}
#slidershow img{ margin:0px; padding:0px; width:100%; height:560px;}

.section_info{ margin:0px; padding:0px; height:130px; width:270px;  }
#info{ margin-top:20px; padding:0px; }
.section_info_top{ margin:0px; padding:0px; vertical-align:top; height:90px; }
.section_info_bottom{ margin:0px; padding:0px 0px 0px 5px; vertical-align:bottom; background-color:#FFFFFF; height:40px; line-height:40px; text-align:center;}
.product{  margin:0px; padding:0px; height:340px; width:353px; border:1px solid #d1d1d1;  border-top-left-radius: 5px; border-top-right-radius: 5px;}
#myTab{ margin-bottom:20px;}
.product_img{ margin:0px; padding:0px; width:100%; height:230px; border-top-left-radius: 5px; border-top-right-radius: 5px;}
.product_price{ margin:0px; padding-left:5px; color:#1B9288; font-size:18px; text-align:left;}
.product h4 { padding-left:5px;}
.product h5 { padding-left:5px;}
#product_rating{color:#FB7F49;}
.sence1{ margin:0px; padding:0px; width:765px; height:350px;  }
.sence2{ margin:0px; padding:0px;width:358px; height:350px; }
.sence3{ margin-top:10px; padding:0px;width:359px; height:350px; }
.sence4{margin-top:10px;padding:0px;width:370px; height:350px; }
.sence5{margin-top:10px; padding:0px;width:750px; height:350px;}
.search_form_area{position:absolute; left:0px; top:460px; width:100%; height:100px;background:rgba(0, 0, 0, 0.5);
 margin:0px; padding:0px;  text-align:center; line-height:100px; vertical-align:middle;}


/** list */
.list_left{ margin:0px; padding:0px; float:left; width:260px; min-height:500px;}
.list_right{ margin:0px 0px 0px 270px; padding:0px;width:880px; }
#filter_title_ico{ margin-right:5px; color:#FB7F49;}
.filter_title{ font-size:17px; color:#003580; font-weight:700;}
.filter_item{ font-family:"ו"; font-size:14px; color: #5A97EE; padding:0px; margin-top:5px;}
.filter_item i{ font-size:15px;}


.filter_summary{ margin:0px 0px 10px 0px; padding:0px; height:40px; }
.filter_summary_left{ float:left; margin:0px; padding:0px; width:660px; height:40px;line-height:40px; vertical-align:middle; font-size:17px; font-weight:600;}
.filter_summary_right{ margin:0px 0px 0px 670px; padding:0px; width:208px; height:40px; line-height:40px; vertical-align:middle; text-align:right; }
.view_map{margin:0px; padding:10px 40px 10px 40px; font-weight:bold; border-radius:3px; border:1px solid #0283DF; text-decoration:none; white-space: nowrap;}
a {
  color: #0283DF;
  text-decoration: none;
}

.filter_sort{ margin:0px; padding:0px; width:100%; height:40px;
 border-radius:5px; border:1px solid #dcdcdc; list-style-type:none;}
.filter_sort li{ float:left; margin:0px; padding:0px; text-align:center; width:20%; 
height:40px;line-height:40px; vertical-align:middle; font-size:17px; font-weight:600;}


.filter_sort a{ text-decoration:none; font-weight:600; color:#000000;}
.filter_sort a:hover{ color:#5A97EE;}
.filter_sort a:visited { color:#5A97EE;}

.product_list { margin:20px 0px; padding:0px; list-style-type:none; }
.product_list li{ margin:10px 0px; padding:0px; height:240px; border-radius:3px; border:1px solid #dcdcdc;}
.product_left{ float:left; margin:0px; padding:0px; width:220px; height:100%;}
.product_right{ margin:0px 0px 0px 230px; padding:0px; width:650px; height:100%;}
.product_image{border-top-left-radius:3px; border-bottom-left-radius:3px;width:220px; height:100%;}
.hotel_title_link_url{margin:5px 0px; padding:0px;}
.hotel_title_link_url a{color:#5A97EE;font-size:19px; font-weight:700;}
.hotel_location{ margin:0px; padding:0px;  font-size:16px; font-weight:700; }
.hotel_location i{ color:#5A97EE;}
.sheshi i{ margin:5px 5px 0px 0px; padding:0px; font-size:14px;}
.hotel_price_area{ margin:0px; padding:0px 10px 0px 0px; width:100%; height:115px;  }
.lowest_price{ font-size:18px; margin:20px 0px 0px 0px; padding:0px; width:100%; text-align:right;}
.lowest_price span{ color:#FF0000;}
.booking_policy{ color:#57af36; font-size:14px; font-weight:bold;margin:0px; padding:0px; width:100%; text-align:right;}
.user_room_area{margin:10px 0px 0px 0px; padding:0px; width:100%; text-align:right;}
.available_room_link{margin:0px; padding:8px 15px; font-weight:bold; font-size:15px; border-radius:3px; background-color:#0896ff; color:#ffffff;  text-decoration:none;}
a:hover{ text-decoration:none;}
.user_room_area i{ font-size:14px; color:#FFFFFF;}
.product_list_map{ margin:5px 0px; padding:0px; width:100%; height:400px; border:1px solid #dcdcdc;border-radius:3px;}

/**detail */
.detail_span_1{ margin:10px auto; padding:0px; width:100%; height:280px; border:1px solid #000000;}
